<h3>{{model.[0].official_title}}</h3>
<h4>{{model.[0].bill_id}}</h4>
<p>Introduced on: {{model.[0].introduced_on}}</p>
<p>Sponsor: {{model.[0].sponsor.title}} {{model.[0].sponsor.first_name}} {{model.[0].sponsor.last_name}}</p>
